<!DOCTYPE html>
<div th:fragment="products" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/products"></div>
</div>


<div th:fragment="login" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/login"></div>
</div>



<div th:fragment="addCategory" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addCategoryForm"></div>
</div>

<div th:fragment="addBook" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="fragments/pages/addBookForm"></div>
</div>