<!DOCTYPE html>
<div class="navbar-default sidebar" role="navigation" xmlns:th="http://www.thymeleaf.org">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
        <form method="get" th:action="@{/search}">
          <div class="input-group custom-search-form">

            <input type="text"
                   name="query"
                   class="form-control"
                   th:value="${query}"
                   placeholder="Search..."></input>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>

          </div>
        </form>
        <!-- /input-group -->
      </li>
      <li>
        <a href="/admin/category">Add category</a>
      </li>
      <li>
        <a href="/admin/book">Add producty</a>
      </li>
      <li class="split-pane-divider"></li>
      <li th:each="c : ${categories}">
        <a th:href="@{/category/{categoryId}(categoryId=${c.id})}" th:text="${c.name}"></a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>