<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org">
  <h4 th:if="${exception!=null}" class="panel panel-danger" th:text="${exception}"></h4>

  <h1>Products:</h1>

  <div th:each="prod : ${products}" class="row">
    <div class="col-md-4">
      <img class="img-responsive" th:src="@{/book/{id}/picture(id=${prod.id})}"></img>
    </div>
    <div class="col-md-8">
      <div th:text="${prod.name}"></div>
      <div th:text="${prod.isbn}"></div>
      <a th:href="@{/category/{categoryId}(categoryId=${prod.category.id})}"
         th:text="${prod.category.name}">
      </a>
      <div>
        <a th:each="a : ${prod.authors}" th:href="@{/books/by_author/{authorId}(authorId=${a.id})}"
           th:text="${a.nameAndLastName}">
        </a>
      </div>
    </div>
    <hr/>
  </div>
  <hr/>
</div>